node_modules
package*.json
package-lock.json
npm-debug.log*


.oxfmtrc.json
.eslintrc*
.prettierrc*
.babelrc*
.editorconfig
.browserslistrc
*.config.js
*.config.ts


__pycache__
*.pyc
*.pyo
.pytest_cache
*.egg-info
.venv
uv.lock
.python-version


.env*
.venv
venv/

.git
.gitignore
.DS_Store
.vscode
.idea
.zed
